@font-face {
    font-family: "halloween";
    src: url("./assets/fonts/clawman.otf")
}

/* this attribution makes all elements count padding and margin as part of the total width of themselves*/
* {
    box-sizing: border-box;
}

.page-title {
    font-family: "halloween";
    font-weight: 100;
    font-size: 5em;
}

.game-info {
    font-family: "halloween";
    font-weight: 100;
    font-size: 2em;
}

body {    
    background: radial-gradient(#9F2074, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
}

.game-info-container {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.cards-container {
    width: 520px;
    height: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: space-between;
}

.card {
    height: 175px;
    width: 125px;
    position: relative;        
}

.card-face {
    position: absolute;    
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 0.2em; 
    border-style: solid;
    border-color: black;
    border-width: 0.01em;
    transition: transform 300ms ease-in-out;
}

.card-back {    
    transform: rotateY(0);
    background:
    -webkit-linear-gradient(135deg, hsla(18.11, 100%, 48.34%, 1) 15%, hsla(18.11, 100%, 48.34%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(267.17, 98.64%, 40.19%, 1) 100%, hsla(267.17, 98.64%, 40.19%, 0) 70%);
    background:
    linear-gradient(315deg, hsla(18.11, 100%, 48.34%, 1) 15%, hsla(18.11, 100%, 48.34%, 0) 80%),
    linear-gradient(245deg, hsla(267.17, 98.64%, 40.19%, 1) 100%, hsla(267.17, 98.64%, 40.19%, 0) 70%);
}

.card-front {
    transform: rotateY(180deg);    
    background:
    -webkit-linear-gradient(38deg, hsla(29.43, 95.15%, 46.8%, 1) 0%, hsla(29.43, 95.15%, 46.8%, 0) 65%),
    -webkit-linear-gradient(65deg, hsla(54.34, 89.99%, 50%, 1) 10%, hsla(54.34, 89.99%, 50%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(303.4, 95%, 50%, 1) 15%, hsla(303.4, 95%, 50%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(267.17, 100%, 55%, 1) 100%, hsla(267.17, 100%, 55%, 0) 70%);
    background:
    linear-gradient(52deg, hsla(29.43, 95.15%, 46.8%, 1) 0%, hsla(29.43, 95.15%, 46.8%, 0) 65%),
    linear-gradient(25deg, hsla(54.34, 89.99%, 50%, 1) 10%, hsla(54.34, 89.99%, 50%, 0) 80%),
    linear-gradient(315deg, hsla(303.4, 95%, 50%, 1) 15%, hsla(303.4, 95%, 50%, 0) 80%),
    linear-gradient(245deg, hsla(267.17, 100%, 55%, 1) 100%, hsla(267.17, 100%, 55%, 0) 70%);    
}

.web-cob {
    position: absolute;    
    width: 25px;    
}

.top-left {
    top: 2px;
    left: 2px;
    transform: rotate(315deg);
}

.top-right {
    top: 2px;
    right: 2px;
    transform: rotate(45deg);
}

.bottom-left {
    bottom: 2px;
    left: 2px;
    transform: rotate(225deg);
}

.bottom-right {
    bottom: 2px;
    right: 2px;
    transform: rotate(135deg);
}

.center-img {    
    width: 70px;        
}

.card:hover {
    z-index: 1;
    transform: scale(1.04);
    transition-property: scale;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;    
}

.card-back:hover .center-img{    
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card-front:hover .center-img{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card:hover .web-cob {    
    width: 31px;
    height: auto;
    transition-property: width, height;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}



.visible.card-back {
    transform:rotateY(-180deg);
}

.visible.card-front {
    transform: rotateY(0deg);
}



